/*styles*/
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    border:none;
    outline:none;
}
html{
    margin:0; 
    padding:0;
    border:none;
    outline:none;
}
body{
    background-color: #0d0d0d;
    padding:0;
    margin:0;
    outline:none;
    border:none;
    width:100%;
    height:100%;
}
.wrapper {
    background-color: #0d0d0d;
    padding: 0;
    margin: 0;
    border:none;
    outline:none;
    width:100%;
    min-height:100vh;
}
.nav-toggle{
    display:none;
}
.mob-nav{
    display:none;
}
.primary-nav{
    display:none;
}
/*NAV SECTION TAB*/
.nav {
    position: absolute;
    top: 0px;
    z-index: 90;
    width: 100%;
    max-height: 70px;
    padding: 15px 3px 0px 3px;
    background-color: #fafdfe;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-1 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 60%;
    height: 55px;
}
.tab {
    background-color: #e3e3e3;
    color: #0d0d0d;
    box-shadow: 0px 0px 2px #000000;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    max-height: 55px;
    width: 40%;
    padding: 0px 0.5px;
    font-size: 20px;
    font-family: 'aldrich', sans-serif, arial;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.index {
    border-radius: 10px 10px 0px 0px;
    color: #000000;
    width: 100%;
    height: 100%;
    line-height: 62px;
}
.tab a#onlink {
    background-color: #0d0d0d;
    color: #ffffff;
    box-shadow: 0px 1px 1.5px #0d0d0d;
    text-shadow: 0px 0px 3px #fafdfe;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    line-height: 62px;
    transition: background-color ease 800ms;
}
.tab:hover {
    background-color: #424242;
    box-shadow: 0px 0px 3px #0d0d0d;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.tab .index:hover {
    color: #ffffff;
    transition-property: color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
/*SOCIALS TAB*/
.menu-2 {
    background-color: #e3e3e3;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 2px;
    margin: 0px 7px 0px 0px;
    width: 21%;
    height: 55px;
    border-radius: 10px 10px 0px 0px;
    transition: 0.5s;
    box-shadow: 0px 0px 2px #575757;
}
.menu-2:hover {
    box-shadow: 0px 0px 3.5px #000000;
    transition-property: box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}
.box-1 {
    border-radius: 10px 0px 0px 0px;
}
.box-3 {
    border-radius: 0px 10px 0px 0px;
    padding-top: 14px !important;
}
.box-1,
.box-2,
.box-3 {
    width: 100%;
    max-width: 83px;
    height: 100%;
    max-height: 75px;
    text-align: center;
    padding: 12px 0px;
    border-radius:100px;
}
.icon-1,
.icon-2 {
    max-width: 33px;
    transition: 0.5s;
    width:100%;
}
.icon-3 {
    width: 30px;
}
.icon-1:hover {
    filter: drop-shadow(0px 0px 3px #ffdd00);
}
.icon-2:hover {
    filter: drop-shadow(0px 0px  3px #0091ff);
}
.icon-3:hover {
    filter: drop-shadow(0px 0px 3px #07ff1c);
}
/*MOBILE SOCIALS*/
.m-socials{
    display:none;
}
/* TABS WEBPAGE ACTIVATE */
/*HOME TAB*/
.main-1 {
    background-color: #0d0d0d;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main-1 .vid-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page-1 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(19, 19, 19, 0.7);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    line-height: 45px;
    padding: 5px 5px 5px 15px;
    font-family: 'aldrich', verdana, arial;
}
.txt1 {
    color: #ffffff;
    margin-top: 85px;
    opacity:0;
    animation: fadetxt ease-in 1000ms;
    animation-delay:350ms;
    animation-fill-mode: forwards;
}
@keyframes fadetxt {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.txt2 {
    margin-left: 3.5px;
    color:#ffffff;
    opacity:0;
    font-family:'aldrich', verdana, arial;
    animation: txtout ease-in 1000ms;
    animation-delay:500ms;
    animation-fill-mode: forwards;
}
@keyframes txtout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*ABOUT TAB*/
.main-2 {
    background-color: #0d0d0d;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}
/*.vid-2{  
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/
.page-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 24, 24, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    position: relative;
    top:35px;
    max-width: 1000px;
    max-height: 375px;
    width: 100%;
    height: 100%;
    padding:25px;
    transform:scale(0.9);
    background-color: rgba(24, 24, 24, 0.8);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: intro ease-in 700ms;
}
@keyframes intro {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.pfpic {
    width: 35%;
    height: 100%;
    background-image: url('https://i.ibb.co/Sn3Pk48/ro00z0.jpg');
    background-position: center;
    background-size: cover;
    filter: grayscale(25%);
    box-shadow: inset 0px 0px 15px #000000;
}
.fade {
    filter: opacity(0.97);
    width: 100%;
    height: 100%;
    background-color: #1e201c;
    box-shadow:inset 0px 0px 5px #000000;
    transition: filter ease-in 300ms;
}
.fade:hover {
    transition-property: filter;
    transition-timing-function: ease-in;
    transition-duration: 350ms;
    filter: opacity(0);
}
.icon {
    position: static;
    width: 100%;
    height: 100%;
    transform: scale(0.7);
}

.txtbox{
    text-align:left;
    width:65%;
    height:100%;
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}
.qu1{
    color: #fafafa;
    font-size: 20px;
    font-family: 'aldrich', verdana, arial;
}

.an1 {
    color: #fafdfe;
    font-size: 18px;
    margin-top:8px;
    font-family: 'aldrich', verdana, arial;
}
.b2{
    margin:15px 0px;
}
/*PORTFOLIO SECTION*/
.main-3 {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    background-color: #0d0d0d;
}
.page-3 {
    position:absolute;
    top:0;
    left:0;
    padding-top:85px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.document{
    position: relative;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    transform:scale(0.9);
}
.doc-1, .doc-2, .doc-3{
    width:100%;
    max-width:350px;
    height:100%;
    max-height:450px;
    margin:15px 5px;
    border:2px solid #ffffff;
}
.doc-2:hover{
    box-shadow:0px 0px 7px #ffffff;
    transform:scale(1.03);
    transition: transform ease-in 50ms;
}
.doc-3:hover{
    box-shadow:0px 0px 7px #ffffff;
    transform:scale(1.03);
    transition: transform ease-in 50ms;
}
.doc-1{
    background-image:url('https://i.ibb.co/Sxc0Rr6/coder.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    transition: translate 700ms ease-in;
    transform: translateY(0px);
    animation: dox1 400ms ease-in;
    opacity:100%;
}
@keyframes dox1{
    from{
        opacity:0%;
    }
    from{
        transform:translateY(50px);
    }
}
.doc-1:hover{
    box-shadow:0px 0px 7px #ffffff;
    transform:scale(1.03);
    opacity:100%;
    transition: transform ease-in 100ms;
}
.edu-doc, .exp-doc, .pro-doc{
    width:100%;
    height: 100%;
    padding:15px 25px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.8);
}
.e1, .e2, .e3, .x1, .x2, .x3, .d1, .d2, .d3{
    text-align:center;
    color:#ffffff;
    font-family:'aldrich', verdana, arial;
}
h5{
    font-size:100%;
}
.rot{
    width:100%;
    height:100%;
    max-width:50px;
    max-height:50px;
}
.rotx{
    margin:25px 0px;
    width:100%;
    height:100%;
    max-width:50px;
    max-height:50px;
    overflow:hidden;
}
.UD, .SL, .YU, .H5, .C3, .JS, .PS, .MC{
    width:100%;
    height:100%;
    max-width:50px;
    max-height:50px;
}
.EOA{
    width:100px;
    height:60px;
    position: relative;
    right:25px;
    bottom:10px;
}
.rot .MC{
    border-radius: 25px;
}
.e2, .x2, .d2{
    margin:0px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.e3, .x3, .d3{
    font-size:75%;
}
.doc-2{
    background-image:url('https://i.ibb.co/mzVcZNR/layout.jpg');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    transition: translate 700ms ease-in;
    transform: translateY(0px);
    animation: dox2 500ms ease-in;
    opacity:100%;
}
@keyframes dox2{
    from{
        opacity:0%;
    }
    from{
        transform:translateY(50px);
    }
}
.x1, .x2, .x3{
    text-align:center;
    color:#ffffff;
    font-family:'aldrich', verdana, arial;
}
.doc-3{
    background-image:url('https://i.ibb.co/7tszZ4K/arch.jpg');
    background-position:right;
    background-size:cover;
    background-repeat:no-repeat;
    transition: translate 700ms ease-in;
    transform: translateY(0px);
    animation: dox3 600ms ease-in;
    opacity:100%;
}
@keyframes dox3{
    from{
        opacity:0%;
    }
    from{
        transform:translateY(50px);
    }
}
/*PROJECT TAB*/
.main-4 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
}
.page-4 {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0d0d0d;
}
.tabContainer {
    position:absolute;
    top:15px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    transform:scale(0.95);
}
.tabContainer .buttonContainer {
    height:15%;
    width:100%;
    flex-wrap:wrap;
}
.tabContainer .buttonContainer button {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: none;
    outline: 0;
    width: 25%;
    height: 100%;
    float: left;
    font-family: 'aldrich', verdana, arial;
    font-size: 18px;
    color: #575757;
    background-color: #0d0d0d;
    opacity: 0;
    animation-name: in0;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes in0 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.tabContainer .buttonContainer button:hover {
    text-shadow: 0px 0px 5px #ffffff;
    color: #e3e3e3;
    transition: all ease-in 250ms;
}
.tabContainer .tabPanel {
    height: 48%;
    width: 100%;
    font-family: 'aldrich', verdana, arial;
    color: #fafafa;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}
.promo,
.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5,
.promo-3solo,
.promo-4solo,
.promo-5solo{
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 150px;
    margin:10px;
}
.promo-1 {
    background-image: url('https://i.ibb.co/rx7fnN2/northface.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
    animation-name: in1;
    animation-duration: 300ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes in1 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.promo-2 {
    opacity: 0;
    animation-name: in2;
    animation-duration: 300ms;
    animation-delay: 900ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/LNSPLD3/bytes.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
@keyframes in2 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.promo-3 {
    opacity: 0;
    animation-name: in3;
    animation-duration: 300ms;
    animation-delay: 1100ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/p3GYRmj/footwear.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
@keyframes in3 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.promo-4 {
    opacity: 0;
    animation-name: in4;
    animation-duration: 300ms;
    animation-delay: 1400ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/d66r4gG/apple.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
@keyframes in4 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.promo-5 {
    opacity: 0;
    animation-name: in5;
    animation-duration: 300ms;
    animation-delay: 1700ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/KWYvL03/canon.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
@keyframes in5 {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
.promo-3solo {
    opacity: 0;
    animation-name: in3;
    animation-duration: 300ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/p3GYRmj/footwear.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
.promo-4solo {
    opacity: 0;
    animation-name: in4;
    animation-duration: 300ms;
    animation-delay: 900ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/d66r4gG/apple.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
.promo-5solo{
    opacity: 0;
    animation-name: in5;
    animation-duration: 300ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    background-image: url('https://i.ibb.co/KWYvL03/canon.png');
    background-position: center;
    background-size: cover;
    opacity: 0;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 150px;
}
/*MODAL*/
#overlay{
    position: fixed;
    z-index:95;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    height:100%;
    display:none;
    justify-content:center!important;
    align-items: center!important;
}
#overlay.active{
    display:flex!important;
    justify-content:center!important;
    align-items: center!important;
}
 .modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width:700px;
    max-height:400px;
    z-index:99;
    width:100%;
    height:100%;
    margin:0;
    text-align: center;
    font-family:'aldrich',verdana,arial;
    display: flex;
    flex-direction: column;
    align-items:center;
    display:none;
}
.modal.active{
    display:flex;
    opacity: 0;
    animation-name: modal;
    animation-duration:250ms;
    animation-delay:100ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}
@keyframes modal {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
.a-btn, .m-btn{
    display:none;
}
.btn{
    outline:0;
    border:0;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('https://i.ibb.co/LgZj27N/mail-email-pngrepo-com.png');
    background-position: center;
    background-size: 75px;
    background-repeat: no-repeat;
    filter: invert(100%);
    opacity:0;
}
.btn:hover{
    opacity:1;
    cursor: pointer;
}
.modal .modalImg {
    width:100%;
    height:100%;
}
.modal .modalh6 {
    font-size: 25px;
    color: #fafafa;
    margin-top:8px;
}
.modal .modalP{
    font-size:13px;
    color:#fafafa;
    margin-top:8px;
}
.modal .modalA{
    color:#ffffff;
    font-size:10px;
    border:2px solid #fafafa;
    padding:5px 20px 2.5px;
    margin: 8px 0px;
    font-family:'aldrich', verdana, arial;
}
.close-btn{
    font-size: 25px;
    background-color:transparent;
    border:none;
    filter:invert(100%);
    cursor: pointer;
    width:150px;
    height:150px;
}



/*MEIDA FOR SMALL IPHONE & NOTE 10 PLUS*/

/*PORTRAIT*/

@media (orientation: portrait) and (min-width:318.98px) {
/*nav*/
.nav{
    display:none;
}
.menu-2{
    display:none;
}
.mob-nav{
    display:block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    max-height:55px;
    z-index:91;    
}

.mob-menu{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding:15px;
    width:100%;
    height:100%;
    background-color:transparent;
    z-index:91;

}
.mob-menu h4{
    font-size:2em;
    color:#fff;
    font-family:'aldrich', verdana, arial;
    margin:6px 0px 0px;
    animation:h4in ease-in 500ms;
}
@keyframes h4in {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }   
}
.nav-toggle{
    display:block;
    position:absolute;
    background-image:url('https://i.ibb.co/dGvSwR3/menuu.png');
    background-repeat:no-repeat;
    background-color:transparent;
    background-position:center;
    background-size:cover;
    cursor: pointer;
    width:35px;
    height:35px;
    top:10px;
    right:20px;
    z-index:9999;
    border:0;
    filter:invert(100%);
    animation:xout ease-in 500ms;
}
@keyframes xout{
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }        
}
.nav-toggle[aria-expanded="true"]{
    background-image:url(https://i.ibb.co/Tr6Yd8f/x-pngrepo-com.png);
    transition: all ease-in 700ms;
    background-size:contain;
    width:35px;
    height:35px;
    top:10px;
    right:20px;
    animation:dout ease-in 500ms;
}
@keyframes dout {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}
.sr-only{
    visibility:hidden;
}
.primary-nav{
    position:fixed;
    inset: 0 0 0 30%;
    background-color:rgba(0, 0, 0, 0.95);
    flex-direction:column;
    padding:15px 25px 0px;
    z-index: 88;
    transform:translateX(100%);
    transition: transform ease-in 500ms;
    animation: movein ease-in 500ms;
    display:flex;
    flex-direction: column;
    align-items:left;
    justify-content:center;
}
@keyframes movein {
    from{
       opacity:100%;
    }
    to{
        opacity:0%;
    }
}
.primary-nav[data-visible="true"]{
    transform: translateX(0%);
    transition: transform ease-in 600ms;
    animation:moveout ease-in 500ms;
}
@keyframes moveout {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }   
}
.mob-tab{
    margin:10px 0px;
}
.mob-tab a{
    color:#ffffff;
    font-family:'aldrich', verdana, arial; 
    font-size:125%;
}

.primary-nav .m-socials{
    width:100%;
    height:auto;
    padding:0px;
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items:center;
}
.m-socials .box-1{
    width:auto;
    filter:invert(1);
    padding:0px 2px;
}
.m-socials .box-2{
    width:auto;
    filter:invert(1);
    padding:0px 5px;
}
.m-socials .box-3{
    width:auto;
    filter:invert(1);
    padding:2px 2px 0px!important;
    margin:0;
}
.box-1 .icon-1{
    max-width:25px;
    aspect-ratio:1;
}
.box-2 .icon-2{
    max-width:25px;
    aspect-ratio:1;
}
.box-3 .icon-4{
    display:block;
    max-width:23px;
    aspect-ratio:1;
}
.icon-3{
    display:none;
}
.box-1 .icon-1:hover{
    filter:drop-shadow(0px 0px 3px blue);
}
.box-2 .icon-2:hover{
    filter:drop-shadow(0px 0px 3px orange);
}
.box-3 .icon-4:hover{
    filter:drop-shadow(0px 0px 3px purple);
}
/*home*/
.page-1{
    line-height:25px;
}
.txt1{
    font-size:1.5em;
}
.txt2{
    margin:1px;
    font-size:1em;
}
/*about*/
.card{
    flex-direction: column;
    width:275px;
    max-height:575px;
}
.pfpic{
    width:100%;
    height:40%;
}
.txtbox{
    padding:5px 0px;
    justify-content: space-evenly;
    text-align:center;
    width:100%;
    height:60%;
}
.qu1{
    font-size:0.9em;
}
.an1{
    font-size:0.7em;
}
.b2{
    margin:5px 0px;
}

/*portfolio*/
.document{
    flex-direction: column;
}
.doc-1, .doc-2, .doc-3{
    margin:10px 0px;
    max-width:350px;
    max-height:100%;
}
.e1, .x1, .d1, h5{
    font-size:1em;
    -moz-font-size:1em;
}
.e2, .d2, .x2{
    flex-direction:row;
    scale:80%;
    -moz-scale:80%;
    -moz-transform:scale(80%);
}
.e3, .x3, .d3, p{
    font-size:0.8em;
    -moz-font-size:0.8em;
}
/*project*/
.tabContainer{
    height:50%;
}

.tabContainer .buttonContainer button{
    font-size:0.7em;
}

.promo,
.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5,
.promo-3solo,
.promo-4solo,
.promo-5solo{
    max-width:235px;
    max-height:135px;
}
.promo{
    max-height:15px;
}
.btn{
    display:none;
}
a .m-btn{
    display:block;
    outline:0;
    border:0;
    width: 100%;
    height:100%;
    background-color:transparent;
    cursor: pointer;
}
}
@media (orientation:portrait) and (min-width:600px) {
/*nav*/
.mob-nav{
    max-height:85px;
    padding-top:5px;
}
.mob-menu h4{
    font-size:3.7em;
}
.nav-toggle{
    width:55px;
    height:55px;
    margin-top:5px;
}
.mob-tab a{
    font-size:2.5em;
}
.box-1 .icon-1{
    max-width:45px;
    aspect-ratio:1;
}
.box-2 .icon-2{
    max-width:45px;
    aspect-ratio:1;
}
.box-3 .icon-4{
    min-width:40px;
    height:43px;
    aspect-ratio:1;
}
.nav-toggle[aria-expanded="true"]{
    width:55px;
    height:55px;
}
/*home*/
.page-1{
    line-height:45px;
}
.txt1{
    font-size:3.3em;
}
.txt2{
    font-size:2.2em;
}

/*about*/
.card{
    flex-direction: column;
    width:500px;
    max-height:850px;
    padding:35px;
}
.pfpic{
    width:100%;
    height:45%;
}
.icon{
    scale:80%;
}
.txtbox{
    padding:5px 0px;
    justify-content: space-evenly;
    text-align:center;
    width:100%;
    height:55%;
}
.qu1{
    font-size:1.2em;
}
.an1{
    font-size:1em;
}
.b2{
    margin:5px 0px;
}
/*portoflio*/
.doc-1, .doc-2, .doc-3{
    margin:10px 0px;
    max-width:585px;
    max-height:300px;
}
.e1, .x1, .d1, h5{
    font-size:1.2em;
}
.e2, .d2, .x2{
    flex-direction:row;
    scale:100%;
}
.e3, .x3, .d3, p{
    font-size:1em;
    -moz-font-size:1em;
}
/*project*/

.tabContainer .buttonContainer button{
    font-size:1.2em;
}

.promo,
.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5,
.promo-3solo,
.promo-4solo,
.promo-5solo{
    max-width:250px;
    max-height:150px;
}
.promo{
    max-height:15px;
}

}
@media (orientation:portrait) and (min-width:1030px){
.nav{
    display:flex;
}
.menu-2{
    display:flex;
}
.box-1 .icon-1,
.box-2 .icon-2 {
    max-width: 33px;
    width:100%;
}
.mob-nav{
    display:none;
}
.primary-nav{
    display:none;
    }
.btn{
    display:block;
}
a .m-btn{
    display:none;
}
}

/*about*/

/*WIDE MOBILE VIEW SCREENS*/

/*LANDSCAPE*/
@media (orientation:landscape) and (min-width:478px){
/*nav*/
.nav{
    display:none;
}
.menu-2{
    display:none;
}
.box-1 .icon-1,
.box-2 .icon-2 {
    max-width: 33px;
    width:100%;
}
.mob-nav{
    display:block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    max-height:55px;
    z-index:91;    
}
.mob-menu{
    display: flex;
}
.mob-menu h4{
    font-size:2em;
    color:#fff;
    font-family:'aldrich', verdana, arial;
    margin:12px 0px 0px 15px;
    animation:h4in ease-in 500ms;
}
@keyframes h4in {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }   
}
.nav-toggle{
    display:block;
    position:absolute;
    background-image:url('https://i.ibb.co/dGvSwR3/menuu.png');
    background-repeat:no-repeat;
    background-color:transparent;
    background-position:center;
    background-size:cover;
    cursor: pointer;
    width:32px;
    height:32px;
    top:10px;
    right:20px;
    z-index:9999;
    border:0;
    filter:invert(100%);
    animation:xout ease-in 500ms;
}
@keyframes xout{
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }        
}
.nav-toggle[aria-expanded="true"]{
    background-image:url(https://i.ibb.co/Tr6Yd8f/x-pngrepo-com.png);
    transition: all ease-in 700ms;
    background-size:contain;
    width:32px;
    height:32px;
    top:10px;
    right:20px;
    animation:dout ease-in 500ms;
}
@keyframes dout {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }
}
.sr-only{
    visibility:hidden;
}
.primary-nav{
    position:fixed;
    inset: 0 0 0 30%;
    background-color:rgba(0, 0, 0, 0.95);
    flex-direction:column;
    padding:15px 25px 0px;
    z-index: 88;
    transform:translateX(100%);
    transition: transform ease-in 500ms;
    animation: movein ease-in 500ms;
    display:flex;
    flex-direction: column;
    align-items:left;
    justify-content:center;
}
@keyframes movein {
    from{
       opacity:100%;
    }
    to{
        opacity:0%;
    }
}
.primary-nav[data-visible="true"]{
    transform: translateX(0%);
    transition: transform ease-in 600ms;
    animation:moveout ease-in 500ms;
}
@keyframes moveout {
    from{
        opacity:0%;
    }
    to{
        opacity:100%;
    }   
}
.mob-tab{
    margin:10px 0px;
}
.mob-tab a{
    color:#ffffff;
    font-family:'aldrich', verdana, arial; 
    font-size:125%;
}

.primary-nav .m-socials{
    width:100%;
    height:auto;
    padding:0px;
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-items:center;
}
.m-socials .box-1{
    width:auto;
    filter:invert(1);
    padding:0px 2px;
}
.m-socials .box-2{
    width:auto;
    filter:invert(1);
    padding:0px 5px;
}
.m-socials .box-3{
    width:auto;
    filter:invert(1);
    padding:2px 2px 0px!important;
    margin:0;
}
.box-1 .icon-1{
    max-width:25px;
    aspect-ratio:1;
}
.box-2 .icon-2{
    max-width:25px;
    aspect-ratio:1;
}
.box-3 .icon-4{
    max-width:23px;
    aspect-ratio:1;
}
.box-1 .icon-1:hover{
    filter:drop-shadow(0px 0px 3px blue);
}
.box-2 .icon-2:hover{
    filter:drop-shadow(0px 0px 3px orange);
}
.box-3 .icon-4:hover{
    filter:drop-shadow(0px 0px 3px purple);
}
/*home*/
.page-1{
    line-height:25px;
}
.txt1{
    font-size:1.5em;
}
.txt2{
    margin:1px;
    font-size:1em;
}

/*about*/
.card{
    flex-direction: row;
    max-width:550px;
    max-height:255px;
}
.pfpic{
    width:40%;
    height:100%;
}
.txtbox{
    padding:5px 15px;
    justify-content: space-evenly;
    text-align:left;
    width:60%;
    height:100%;
}
.qu1{
    font-size:0.7em;
}
.an1{
    font-size:0.5em;
}
.b2{
    margin:3px 0px;
}
/*portfolio*/
.page-3{
    padding-top:55px;
}
.doc-1, .doc-2, .doc-3{
    max-height:285px;
    max-width:200px;
}
.edu-doc, .exp-doc, .pro-doc{
    padding:5px;
}
.EOA{
    width:55px;
    height:30px;
    right:15px;
    bottom:4.5px;

}
.rot, .rotx{
    width:25px;
    height:25px;
}
.d2, .e2, .x2{
    flex-direction:row;
}
.d1, .e1, .x1{
    font-size:0.8em;
}
.e3 p{
    font-size:0.3em;
    -moz-font-size:0.5em;
}
.x3 p{
    font-size:0.3em;
    -moz-font-size:0.5em;
}
.d3 p{
    font-size:0.3em;
    -moz-font-size:0.5em;
}
/*project*/
.tabContainer{
    top:0;
}
.tabContainer .buttonContainer button{
    font-size:0.7em;
}

.promo,
.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5,
.promo-3solo,
.promo-4solo,
.promo-5solo{
    max-width:200px;
    max-height:100px;
}
.promo{
    max-height:15px;
}
.btn{
    display:none;
}
.m-btn{
    display:block;
    border:0;
    outline:none;
    width:100%;
    height:100%;
    background-color:transparent;
    cursor: pointer;
}
}
@media (orientation:landscape) and (min-width:900px){
/*nav*/
.mob-nav{
    max-height:85px;
    padding-top:5px;
}
.mob-menu h4{
    font-size:3.7em;
}
.nav-toggle{
    width:55px;
    height:55px;
    margin-top:5px;
}
.mob-tab a{
    font-size:2.5em;
}
.box-1 .icon-1{
    max-width:45px;
    aspect-ratio:1;
}
.box-2 .icon-2{
    max-width:45px;
    aspect-ratio:1;
}
.box-3 .icon-4{
    min-width:40px;
    height:43px;
    aspect-ratio:1;
}
.nav-toggle[aria-expanded="true"]{
    width:55px;
    height:55px;
}
/*home*/
.page-1{
    line-height:45px;
}
.txt1{
    font-size:3.3em;
}
.txt2{
    font-size:2.2em;
}

/*about*/
.card{
    max-width:885px;
    max-height:450px;
    padding:35px;
}
.icon{
    scale:80%;
}
.qu1{
    font-size:1.2em;
}
.an1{
    font-size:1em;
}
.b2{
    margin:5px 0px;
}
/*portfolio*/
.doc-1, .doc-2, .doc-3{
    max-height:600px;
    max-width:350px;
    margin:15px;
}
.edu-doc, .exp-doc, .pro-doc{
    padding:5px 15px;
}
.d2, .e2, .x2{
    flex-direction:column;
}
.rot, .rotx{
    width:50px;
    height:50px;
}
.EOA{
    width:100px;
    height:60px;
    right:25px;
    bottom:10px;
}
.d1, .e1, .x1{
    font-size:1.3em;
}
.e3 p{
    font-size:1.1em;
}
.x3 p{
    font-size:1.1em;
}
.d3 p{
    font-size:1.1em;
}
/*project*/
.tabContainer .buttonContainer button{
    font-size:1.2em;
}

.promo,
.promo-1,
.promo-2,
.promo-3,
.promo-4,
.promo-5,
.promo-3solo,
.promo-4solo,
.promo-5solo{
    max-width:250px;
    max-height:150px;
}
}
@media (orientation:landscape) and (min-width:1200px){
    /*nav bar*/
    .nav{
        display:flex;
    }
    .menu-2{
        display:flex;
    }
    .m-socials{
        display:none;
    }
    .box-1 .icon-1,
    .box-2 .icon-2 {
    max-width: 33px;
    width:100%;
    } 
    .icon-1:hover {
        filter: drop-shadow(0px 0px 3px #ffdd00)!important;
    }
    .icon-2:hover {
        filter: drop-shadow(0px 0px  3px #0091ff)!important;
    }
    .nav-toggle{
        display:none;
    }
    .mob-nav{
        display:none;
    }
    .primary-nav{
        display:none;
    }
    /*home*/
    .page-1{
        line-height:35px;
    }
    .txt1{
     font-size:50px;
    }
    .txt2{
        font-size:25px;
    }
    /*about*/
    .card{
        padding:25px;
        max-width: 1000px;
        max-height: 400px;
    }
    .icon{
        scale:100%;
    }
    .qu1{
        font-size:1.2em;
    }
    .an1{
        font-size:1em;
    }
    .b2{
        margin:15px 0px;
    }
    /*portoflio*/
    .page-3{
        padding-top:90px;
    }
    .doc-1, .doc-2, .doc-3{
        max-width:350px;
        max-height:475px;
    }
    /*project*/
    .tabContainer {
    top:0;
    }
    .btn{
        display: block;
    }
    .m-btn{
        display:none;
    }
}
